In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv("/content/purchase_data (1).csv")

In [12]:
data.head(6)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,647,0,0,10.0,0,2,0.0,3.0,NaN,NaN,8370.0
1,1000001,2304,0,0,10.0,0,2,0.0,1.0,6.0,14.0,15200.0
2,1000001,814,0,0,10.0,0,2,0.0,12.0,NaN,NaN,1422.0
3,1000001,790,0,0,10.0,0,2,0.0,12.0,14.0,NaN,1057.0
4,1000002,2657,1,6,16.0,2,4,0.0,8.0,NaN,NaN,7969.0
5,1000003,1768,1,2,15.0,0,3,0.0,1.0,2.0,NaN,15227.0

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263015 entries, 0 to 263014
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     263015 non-null  int64
 1   Product_ID                  263015 non-null  int64
 2   Gender                      263015 non-null  int64
 3   Age                         263015 non-null  int64
 4   Occupation                  263014 non-null  float64
 5   City_Category               263015 non-null  int64
 6   Stay_In_Current_City_Years  263015 non-null  int64
 7   Marital_Status              263014 non-null  float64
 8   Product_Category_1          263014 non-null  float64
 9   Product_Category_2          181501 non-null  float64
 10  Product_Category_3          80582 non-null   float64
 11  Purchase                    263014 non-null  float64
dtypes: float64(6), int64(6)
memory usage: 24.1 MB

In [14]:
data.describe()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,2.630150e+05,263015.000000,263015.000000,263015.000000,263014.000000,263015.000000,263015.000000,263014.000000,263014.000000,181501.000000,80582.000000,263014.000000
mean,1.002941e+06,1637.832648,0.754672,2.494759,8.083558,1.039207,1.859666,0.408685,5.291099,9.844756,12.658298,9319.305269
std,2.593126e+03,973.522901,0.430291,1.354692,6.524052,0.758931,1.290608,0.491592,3.745722,5.086696,4.129156,4970.152966
min,1.000000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001457e+06,885.000000,1.000000,2.000000,2.000000,0.000000,1.000000,0.000000,1.000000,5.000000,9.000000,5863.000000
50%,1.002972e+06,1583.000000,1.000000,2.000000,7.000000,1.000000,2.000000,0.000000,5.000000,9.000000,14.000000,8060.000000
75%,1.004335e+06,2461.000000,1.000000,3.000000,14.000000,2.000000,3.000000,1.000000,8.000000,15.000000,16.000000,12059.000000
max,1.006040e+06,3507.000000,2.000000,7.000000,20.000000,3.000000,5.000000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [15]:
data.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         1
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     1
Product_Category_1                 1
Product_Category_2             81514
Product_Category_3            182433
Purchase                           1
dtype: int64

In [16]:
data.dropna(inplace=True)

In [17]:
data.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [18]:
data.duplicated().sum()

0

Label Encoding - convert object data type into its numerical form from using fit_transform() of labelencoder class

In [19]:
data.nunique()  # total unique values

User_ID                        5697
Product_ID                      525
Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               12
Product_Category_2               14
Product_Category_3               15
Purchase                      12341
dtype: int64

In [20]:
data.dtypes

User_ID                         int64
Product_ID                      int64
Gender                          int64
Age                             int64
Occupation                    float64
City_Category                   int64
Stay_In_Current_City_Years      int64
Marital_Status                float64
Product_Category_1            float64
Product_Category_2            float64
Product_Category_3            float64
Purchase                      float64
dtype: object

In [21]:
data["Gender"].unique()

array([0, 1])

In [22]:
data["Gender"].value_counts()

Gender
1    62549
0    18033
Name: count, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le= LabelEncoder()

In [25]:
data.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [26]:
data["Product_ID"]= le.fit_transform(data["Product_ID"])
data["Gender"]= le.fit_transform(data["Gender"])
data["Age"]= le.fit_transform(data["Age"])
data["City_Category"]= le.fit_transform(data["City_Category"])
data["Stay_In_Current_City_Years"]= le.fit_transform(data["Stay_In_Current_City_Years"])

In [27]:
data["Gender"].unique()

array([0, 1])

In [28]:
data["Age"].unique()

array([0, 4, 2, 5, 3, 1, 6])

STATISTICAL ANALYSIS

In [ ]:
# one sample T Test
# two sample T Test
# ANOVA

One Sample T Test

Let's suppose it was observed that the average purchase made by men of the age 18-25 years  was 10,000. Is it still the same?

In [ ]:
# write down alternate and null hypothesis
#create a subdata based on condition (requirement)
# we need to create a sample (random sampling)
# we perform hypothesis testing
# we conclude if its null or alternate hypothesis.

In [ ]:
# Null - average purchase made by men of age 18-25 years was 10,000.
# Alternate - average purchase made by men of age 18-25 years is not 10,000.

In [29]:
new_data = data.loc[(data["Age"]== 1) & (data["Gender"]== 1)]
new_data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
98,1000022,487,1,1,15.0,0,4,0.0,1.0,8.0,17.0,12099.0
103,1000022,402,1,1,15.0,0,4,0.0,1.0,11.0,16.0,12098.0
111,1000022,358,1,1,15.0,0,4,0.0,2.0,4.0,15.0,9564.0
127,1000025,332,1,1,4.0,2,4,0.0,1.0,5.0,9.0,15361.0
128,1000025,71,1,1,4.0,2,4,0.0,1.0,2.0,15.0,15770.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262758,1004446,180,1,1,18.0,1,1,1.0,1.0,2.0,15.0,11512.0
262759,1004446,394,1,1,18.0,1,1,1.0,1.0,15.0,18.0,11521.0
262760,1004446,23,1,1,18.0,1,1,1.0,1.0,2.0,13.0,3988.0
262764,1004446,75,1,1,18.0,1,1,1.0,5.0,8.0,17.0,5444.0
262952,1004465,209,1,1,4.0,0,1,1.0,2.0,3.0,4.0,3240.0

In [30]:
sample_size = 1000

In [31]:
sample = new_data.sample(sample_size , random_state= 0)
sample

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
124490,1001221,184,1,1,0.0,1,1,0.0,1.0,2.0,5.0,7943.0
66720,1004217,6,1,1,4.0,1,2,0.0,1.0,5.0,8.0,15811.0
194073,1005964,418,1,1,5.0,1,1,0.0,2.0,3.0,10.0,12882.0
157342,1000302,262,1,1,4.0,1,4,0.0,13.0,15.0,16.0,570.0
199012,1000742,411,1,1,0.0,2,1,0.0,1.0,2.0,15.0,11519.0
...,...,...,...,...,...,...,...,...,...,...,...,...
104629,1004101,186,1,1,4.0,2,3,0.0,1.0,5.0,18.0,12001.0
66214,1004117,355,1,1,4.0,1,4,0.0,1.0,8.0,17.0,11416.0
165259,1001524,455,1,1,4.0,1,1,0.0,2.0,8.0,16.0,16448.0
80254,1000352,181,1,1,4.0,0,0,0.0,1.0,2.0,15.0,11572.0
259306,1003942,271,1,1,4.0,1,4,0.0,1.0,6.0,8.0,11428.0

In [32]:
# one sample ttest

from scipy.stats import ttest_1samp

In [33]:
t_stat, p_value= ttest_1samp(sample["Purchase"], 10000)

In [34]:
p_value

2.8550147774368676e-26

In [35]:
if p_value < 0.05:
  print("Null Hypothesis Rejected")
else:
  print("Null Hypothesis Accepted")

Null Hypothesis Rejected

In [ ]:
#Two sample t test

Is the average purchase made by men and women of the age 18-25 same?

In [ ]:
# null- average purchase made by men and women of the age 18-25 same
# Alternate - average purchase made by men and women of the age 18-25 not same

In [36]:
data_men = data.loc[(data["Age"]== 1) & (data["Gender"]== 1)]
data_women = data.loc[(data["Age"]== 1) & (data["Gender"]== 0)]

In [37]:
data_men

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
98,1000022,487,1,1,15.0,0,4,0.0,1.0,8.0,17.0,12099.0
103,1000022,402,1,1,15.0,0,4,0.0,1.0,11.0,16.0,12098.0
111,1000022,358,1,1,15.0,0,4,0.0,2.0,4.0,15.0,9564.0
127,1000025,332,1,1,4.0,2,4,0.0,1.0,5.0,9.0,15361.0
128,1000025,71,1,1,4.0,2,4,0.0,1.0,2.0,15.0,15770.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262758,1004446,180,1,1,18.0,1,1,1.0,1.0,2.0,15.0,11512.0
262759,1004446,394,1,1,18.0,1,1,1.0,1.0,15.0,18.0,11521.0
262760,1004446,23,1,1,18.0,1,1,1.0,1.0,2.0,13.0,3988.0
262764,1004446,75,1,1,18.0,1,1,1.0,5.0,8.0,17.0,5444.0
262952,1004465,209,1,1,4.0,0,1,1.0,2.0,3.0,4.0,3240.0

In [38]:
data_women

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
71,1000018,300,0,1,3.0,1,3,0.0,3.0,4.0,9.0,10754.0
72,1000018,229,0,1,3.0,1,3,0.0,4.0,8.0,9.0,2802.0
73,1000018,152,0,1,3.0,1,3,0.0,1.0,2.0,5.0,19473.0
75,1000018,51,0,1,3.0,1,3,0.0,1.0,14.0,16.0,19313.0
76,1000018,351,0,1,3.0,1,3,0.0,1.0,2.0,13.0,15182.0
...,...,...,...,...,...,...,...,...,...,...,...,...
262254,1004371,232,0,1,4.0,1,3,0.0,8.0,14.0,16.0,8111.0
262383,1004387,309,0,1,4.0,1,0,0.0,1.0,2.0,9.0,7792.0
262403,1004387,207,0,1,4.0,1,0,0.0,1.0,14.0,16.0,4140.0
262411,1004387,105,0,1,4.0,1,0,0.0,3.0,5.0,16.0,13287.0
262415,1004387,193,0,1,4.0,1,0,0.0,4.0,5.0,13.0,684.0

In [39]:
sample_size = 500

In [40]:
data_men_sample = data_men.sample(sample_size, random_state= 0)
data_women_sample = data_women.sample(sample_size, random_state= 0)

In [41]:
data_men_sample

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
124490,1001221,184,1,1,0.0,1,1,0.0,1.0,2.0,5.0,7943.0
66720,1004217,6,1,1,4.0,1,2,0.0,1.0,5.0,8.0,15811.0
194073,1005964,418,1,1,5.0,1,1,0.0,2.0,3.0,10.0,12882.0
157342,1000302,262,1,1,4.0,1,4,0.0,13.0,15.0,16.0,570.0
199012,1000742,411,1,1,0.0,2,1,0.0,1.0,2.0,15.0,11519.0
...,...,...,...,...,...,...,...,...,...,...,...,...
248039,1002153,283,1,1,16.0,1,3,0.0,1.0,6.0,8.0,19068.0
165082,1001495,411,1,1,0.0,2,1,0.0,1.0,2.0,15.0,11674.0
69513,1004635,234,1,1,4.0,1,2,0.0,1.0,11.0,15.0,15278.0
53704,1002172,190,1,1,20.0,1,2,0.0,6.0,8.0,15.0,12140.0
243573,1001542,211,1,1,17.0,2,4,0.0,1.0,2.0,5.0,15304.0

In [42]:
data_women_sample

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
178294,1003580,210,0,1,3.0,2,0,0.0,1.0,15.0,16.0,19168.0
11690,1001755,135,0,1,4.0,1,4,0.0,2.0,4.0,5.0,16247.0
1949,1000310,191,0,1,4.0,2,1,0.0,1.0,14.0,17.0,11866.0
110793,1005061,350,0,1,19.0,2,2,1.0,1.0,2.0,5.0,7694.0
35085,1005419,149,0,1,12.0,2,3,1.0,1.0,2.0,14.0,8014.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39660,1000092,288,0,1,4.0,1,1,0.0,2.0,4.0,9.0,13264.0
92211,1002148,517,0,1,0.0,1,0,1.0,2.0,3.0,4.0,16165.0
131302,1002147,189,0,1,0.0,1,3,0.0,1.0,5.0,15.0,7673.0
259516,1003971,394,0,1,4.0,1,0,0.0,1.0,15.0,18.0,4227.0
92522,1002188,262,0,1,19.0,1,4,0.0,13.0,15.0,16.0,744.0

In [ ]:
# In a two sample T-Test we have to assume that the variance of the data is the same.

In [43]:
print(data_men_sample["Purchase"].var())
print(data_women_sample["Purchase"].var())

25403579.49849695
26680870.93292181

In [ ]:
# Since they are not having exactly same, we have to assume that samples are having same variance.

In [44]:
from scipy.stats import ttest_ind

In [47]:
t_stat, p_value = ttest_ind(data_men_sample["Purchase"], data_women_sample["Purchase"], equal_var = True)

In [46]:
p_value

0.0004999157448251496

In [48]:
if p_value < 0.05:
  print("Alternate")
else:
  print("Null")

Alternate

**ANOVA**

In [ ]:
# if we have to check for the mean of more than 2 samples we use ANOVA for the same.

Mean of Product_category_1, Product_category_2 & Product_category_3 are the same.

In [ ]:
# Null - Mean of Product_category_1, Product_category_2 & Product_category_3 are the same.
# Alternate - Mean of Product_category_1, Product_category_2 & Product_category_3 are  not the same.

In [49]:
from scipy.stats import f_oneway

In [50]:
samp1 = data['Product_Category_1']
samp2 = data['Product_Category_2']
samp3 = data['Product_Category_3']

In [51]:
a_stat, p_value = f_oneway(samp1, samp2, samp3)

In [52]:
p_value

0.0

In [53]:
if p_value < 0.05:
  print("Alternate")
else:
  print("Null")

Alternate

Let's suppose it was observed that the percentage of women that spend more than 10,000 was 35 %. Is it still the same ?

In [60]:
# Z-test for proportions

In [54]:
#Null- percentage of women that spend more than 10,000 was 35 %.
#Alternate - percentage of women that spend more than 10,000 is not 35 %.

data_new = data.loc[(data["Purchase"]> 10000)]

In [55]:
# num of women in this data

count = data_new["Gender"].value_counts()[0]
count

10175

In [56]:
# total num of obs in gender col

nobs = len(data_new["Gender"])
nobs

49390

In [57]:
# hypothesised value
p0 = 0.35

In [58]:
from statsmodels.stats.proportion import proportions_ztest
z_stat, p_value = proportions_ztest(count= count , nobs= nobs , value= p0)

In [59]:
if p_value < 0.05:
  print("Alternate")
else:
  print("Null")

Alternate